ul {
  list-style-type: none;
}
ul img {
  margin: 10px;
}

.userPic img {
  border-radius: 50%;
}

.userPic {
  margin-left: 5px;
  margin-top: -90px;
}

.userPic p {
  color: #fff;
  opacity: 0.8;
  margin-left: 50px;
  margin-top: -30px;
}

.userPic p:hover {
  text-decoration: none;
}

.overlay1 {
  width: auto;
  margin-left: 50px;
}

.collect {
  margin-top: 10px;
}

.heart {
  margin-left: 220px;
}

.download {
  margin-left: 360px;
  margin-top: -30px;
}
