/* src/components/Header/Header.css */
i.Nav {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  -webkit-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
  height: 77px;
}
.Nav-menus {
  /*display: flex;
  flex-direction: row;*/
  height: 77px;
  width: 70%;
  margin: 0 auto;
  padding: 26px 40px;
}
.Nav-brand-logo {
  display: block;
  background-position: -176px 0px;
  background-image: url(../../sprite.png);
  background-size: 405px 379px;
  background-repeat: no-repeat;
  height: 35px;
  width: 176px;
  text-indent: -1000%;
}
.Nav-profile {
  background-image: url(../../avatar.png);
  background-size: 40px 40px;
  background-repeat: no-repeat;
  height: 35px;
  width: 35px;
  margin-top: -100px;
  margin-left: 1000px;
  border-radius: 50%;
}

/* logout button */
@import url(https://fonts.googleapis.com/css?family=Oswald:400);
.logout {
  font-size: 0.6em;
  font-family: 'Oswald', sans-serif;
}

.button {
  text-decoration: none;
  border-radius: 5px;
  margin-left: 75%;
  margin-bottom: 10px;
  padding: 5px;
  color: black;
  width: 100px;
  background-color: white;
}

button:hover {
  color: white;
  background-color: #a9a9a9;
}

button {
  text-decoration: none;
}
